body { 
	font-family: Arial;
}

img {
	max-width:100%;
}

ul{
	list-style: inside
}

.title{
	
	text-align: center;
}

.flex-container{
	display:  flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.graph-item{

	width: 500px;
 	margin: 5px;
	flex-shrink: 1 ;
	border: 4px outset black;
}

.description{

	padding: 10px;
}


.line-of-shapes{

	padding: 30px;
	display:  flex;
	justify-content: center;
}

.shape{

	margin: 5px;
	flex-shrink: 1;
	flex-grow: 1 ;
}


.square{
	fill:#b3ffff ;
}

.square:hover{
	fill: #00ffff ;
}

.circle{
	fill: #b3ffe6 ;
}

.circle:hover{
	fill: #33ffbb ;
}

#acknowledgements {
	
	text-align: center;
}
